{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current",
        "browsers": ["defaults", "ie > 10"]
      }
    }]
  ],
  "plugins": ["@babel/plugin-proposal-function-bind"]
}
